html,
body {
  padding: 0;
  margin: 0;
  background: #f2f3f4;
  font-family: "Inter", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
}

h1,
h2,
h3 {
  color: #3b4250;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
